html{
    font-size: 10px;
}


/*about us css*/
.headbar {

    position: absolute;
    top: 15%;
    margin: auto;
    left: 0;
    right: 0;
    width: 1200px;
    text-align: left;

    color: #808080;

    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
.aboutus-title{
    width: 1200px;
    left:0;
    right:0;
    margin: auto;
    
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
}
#aboutus-contents-en{
    width: 1200px;
    margin: auto;
   /* margin-top: 5rem;*/
    left: 0;right: 0;
    font-family: Sen;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 4.5rem;
    
}
#aboutus-contents-kr{
    width: 1200px;
    margin: auto;
    margin-top: 5rem;
    left: 0;right: 0;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;    
}
.aboutus-contents{
    opacity: 0;
    color: transparent;
}



/*keywords css*/
.keywords {
    font-family: Aldrich;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    text-align: center;
    display: flex;
    text-align: center;
 
  }
.keywords .letters {
    opacity: 0;
    color: transparent;
    z-index: 2;
    flex:1;
    background-color: rgba(255,255,255,0.25);
    padding: 3rem 0;
    color: #F0EBDB;
}

/*video*/

#firstvideo-container{
    position: absolute;
    top: 0;
    width: 33.3333%;
    overflow:hidden;
    display:block;
    height: 100%;
    z-index: 1;
}
#firstvideo {
    margin-left: -50%;
    height: 100%;
}
#secondvideo-container{
    position: absolute;
    top: 0;
    left:33.3333%;
    width: 33.34%;
    overflow:hidden;
    display:block;
    height: 100%;
    z-index: 1;

    background-color: black;
}
#secondvideo{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

#thirdvideo-container{
    position: absolute;
    top: 0;
    left:66.6666vw;
    width: 33.33333333%;
    right:0;
    overflow:hidden;
    display:block;
    height: 100%;
    z-index: 1;
    background-color: black;
}
#thirdvideo{
   /* margin-left: -100%;*/
   height: 100%;
   width: 100%;
   object-fit: cover;

}



@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    .keywords {
        font-size: 3rem;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;

    }

    .keywords .letters {
        flex: 0;
        padding: 2rem 0;
        height: 3rem;
        top:0;
        bottom: 0;
    }
    #firstvideo-container {
        position: absolute;
        left: 0;
        top: 0;
        height: 33.3333%;
        overflow: hidden;
        width: 100%;
        z-index: 1;
    }
    #firstvideo {
        margin-left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    #secondvideo-container {
        position: absolute;
        top: 33.3333%;
        left: 0;
        height: 33.3333%;
        overflow: hidden;
        width: 100%;
        z-index: 1;
    }

    #thirdvideo-container {
        position: absolute;
        top: 66.6666%;
        left: 0; 
        height: 33.3333%;
        overflow: hidden;
        width: 100%;
        z-index: 1;
    }


#aboutus-contents-en{
    width: auto;
    margin: 0 6rem;
   /* margin-top: 5rem;*/
    font-size: 2rem;
    line-height: 1.7rem;
    text-align: justify;
    
}
#aboutus-contents-kr{
    width: auto;
    margin: 0 6rem;
    margin-top: 5rem;
    font-size: 1.7rem;
    line-height: 3rem;    
    text-align: justify;

}


    /*
    .subtitle-short
    {
      display:inline-block;
    }
    .subtitle-long
    {
      display: none;
    }

*/

}