*{
  outline :0;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: #1b138d;
  touch-action: none;
  overflow: hidden;
}

canvas{
  width: 100%;
  height: 100%;
}

.startbutton{
  color: black;
  position: absolute;
  margin: auto;
  text-align: center;
  top:80vh;
  left:0;
  right:0;
}

.square {
  height: 100vh;
  width: 100%;
  background-color: #F0EBDB;
  position: absolute;
  left:0;
  top:100vh;
  z-index: 1000;
}
